@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

*,*::before,*::after{
	box-sizing:border-box;
}

body{
margin: 0;
font-family: 'Poppins', sans-serif;
font-size: 15px;

}
.container{
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	padding: 5px;
}
.btn{
	height: 50px;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	background-color: red;
	min-width: 200px;
	padding: 0 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .2s ease;
	outline: 0;
	border: 0;
}
.btn:hover{
	background-color: rgb(129, 21, 21);

}
.header{
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	z-index: 3;
}
.header__wrapper{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heade__block{
	width: 20%;
}
.header__logo img {
	height: 65px;
}
.header__logo{
	display: inline-block;
}
.heade__block:last-child{
	text-align: right;
}
.nav{
display: flex;
}
.nav__link{
	margin-right: 35px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight:600;
	position: relative;
}
.nav__link:after{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	content: '';
	opacity:0;
	transition: .2s ease;
}
.nav__link:last-child{
	margin-right: 0;
}
.nav__link:hover:after {
	opacity: 1;
}
.nav__link.active:after{
opacity: 1;
}
.header_lng{
display: flex;
justify-content: flex-end;
}

.header_lng-link{
	margin-right:8px;
	color: #B7B7B7;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	transition: color .2s ease;
}
.header_lng-link:last-child{
	margin-right: 0;

}
.header_lng-link:hover{
	color: #fff;
}
.header_lng-link.active{
	color:#fff
}
/* header end */

/* intro start */

.intro{
	background-repeat:  no-repeat;
position: relative;
box-sizing: cover;
}
.intro::after{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .2;
	content: ''

}
.intro__content{
	height: 750px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
.intro__titel{
	margin-bottom: 30px;
	max-width: 790px;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	line-height: 1.5;
}
/* intro end */
.section{
	margin-bottom: 100px;
}
/* info start */
.info{

transform: translateY(-50%);

}


.info__item{
	padding: 40px 40px 30px ;
background-color: #fff;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}
.info__img{
	margin-bottom: 20px;
}
.info__img img{
	height: 30px;
}
.info__title{
	margin-bottom: 10px;
font-size: 18px;
letter-spacing: 0w.15em;
}
.info__text{
font-size: 18px;
color:#B7B7B7;
}

/*  info end*/
/* start */
.block__title{
	margin-bottom: 15px;
	font-size: 30px;
	letter-spacing:  0.15px;
}
.block__title.text-white{
	color: #fff;
}
.block__link{
	margin-bottom: 60px;
	letter-spacing: 0.15px;
	color:#000;
	display:inline-block;

}
.block__link:hover{
	text-decoration: none;
}

.wrapper{
	display: flex;
	margin: 0 -10px;

}
.block{
	width: 33.33%;
padding: 0 10px;
}
.text-upper{
	text-transform: uppercase;
}
/* end */


/* start */
.survices__item{
text-decoration: none;
}
.survices__item:hover .survices__content-item{
	opacity: 1;
}
.survices__item:hover .survices__content::after{
	opacity: .7;
}
.survices__content{
	margin-bottom: 20px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.survices__content:after{
	width: 100%;
	height: 100%;
	background-color: #000;
opacity: 0;
position: absolute;
top:0;
left:0;
content:'';
transition: opacity .2s ease;

}
.survices__content-item{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
opacity: 0;
z-index: 2;
transition:opacity .2s ease;
}
.survices__img{
width: 100px;
height: 100px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

background-color: #DB2512;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.survices__title {
font-size:20px ;
font-weight:600 ;
letter-spacing: 0.23em;
color: #000;
text-transform: uppercase;
}
.survices__text{
	max-width: 270px;
font-size: 18px;
font-weight: 600;
color: #fff;
letter-spacing: .23em;
position: absolute;
left: 30px;
bottom:20px;
text-transform: uppercase;
}
/* end */
/*  */
.about__wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.about__block{
max-width: 505px;
}
.about{
padding: 115px 0 ;
background-color:#171616;
}
.about__text{
margin: 40px 0;
font-weight: 600;
color: #B7B7B7;
letter-spacing: .23em;
}
.about__link{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: 500;
	font-size: 18px;

}
.about__link:hover{
	text-decoration: none;
}
.about__img{
	height: 340px;
}
/*  end*/

/*start  */
.proces__title{
	font-size: 148px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.proces__subtitle{
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15;
	text-align: center;
margin-bottom: 90px;
}
.proces_item{
	height: 100%;
	min-height: 150px;
	padding: 30px 30px 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
/* end */
/* start */
.contacts{
	padding:100px 0;
	background-color: #171616;
}
.contacts .block__title{
	margin-bottom: 40px;
}
.contacts__form{
max-width: 440px;
}
.form__row{
display: flex;
margin:0 -20px;
margin-bottom: 30px;
}
.form__group{
padding:20px;
flex:1;
position: relative;
}
.input{
	width: 100%;
	font-family: inherit;
	color: #fff;
	font-size: 15px;
	padding: 9 0px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}
.input:focus + .label{
	transform:translateY(-11px);
	font-size:12px;
}

.input:not(:placeholder-shown) + .label {
	transform:translateY(-11px);
	font-size:12px;

}
.label{
	color: #fff;
	letter-spacing:0.15em;
	position: absolute;
	top: 0px;
	left:20px;
	pointer-events: none;
	transition:all .2s ease ;

}
.textarea{
	min-height: 130px;
	width: 100%;
	font-family: inherit;
	color: #fff;
	font-size: 15px;
	resize: vertical;
	padding: 9 0px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

.textarea:focus + .label{
	transform:translateY(-11px);
	font-size:12px;
}

.textarea:not(:placeholder-shown) + .label {
	transform:translateY(-11px);
	font-size:12px;

}



/* end */
/* start */
.footer{

}
.footer_wrapper{
	height: 150px;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.copyright{
	letter-spacing: 0.15em;
}
.footer_soc{
	display: flex;
}
.footer__soc-link{
	margin-right: 20px;
}
.footer__soc-link:last-child{
	margin-right: 0;
}
.footer__soc-link img {
height:25px
}


/*  */