@media (max-width:1260px) {
	.info__title{
		font-size: 16px;
	}
	.info__text{
		font-size: 14px;
	}
	.info__item{
		padding: 30px;
	}
}
@media(max-width:1080px){
.info__title{
	letter-spacing: unset;
}
.about__block{
	padding-right: 30px;
}
.survices__content{
height: 400px;
}
}
@media(max-width:992px){
.section{
	margin-bottom: 30px;
}
.header__logo img{
height: 55px;
}
.intro__titel{
font-size: 	34px;
text-align: center;
}
.intro__block{
	text-align: center;
}

.intro__content{
	height: 530px;
	justify-content: center;
}
.info__item{
	padding: 15px;
}
.survices__content{
	height: 300px;
	}

.survices__content-item{
	display: none;
}
.survices__content:after{
	display: none;
}
.about__wrapper{
	flex-direction: column;
}
.about__block{
	padding-right: 0;
	margin-bottom: 20px;
}
.about__img{
	height: auto;
	width: 100%;
}
.about__text{
	text-align: justify;
}
.about{
	padding-top: 20px;
}
.about__link{
	font-size: 14px;
}
.proces__title{
	font-size: 100px;
}
.proces__subtitle{
	margin-bottom: 20px;
}
.contacts{
	padding:30px;
}
.proces_item{
	text-align: center;
	min-height: auto;
	padding:15px 0 10px;
}
}

@media(max-width:850px){
.info{
	transform: translateY(-75px);
}
.wrapper{

	flex-wrap: wrap;

}
.block{
	width: 100%;
	padding-bottom: 20px;
}
.info__item{
	text-align: center;
}
.block__link{
	display: flex;
	justify-content: center;
}
.survices__content{
	height: 450px;
	background-position: center;
}
.block__title{
	text-align: center;
}
.contacts__form{
	margin: 0 auto;
}
.proces__title{
	font-size: 80px;
}

}




@media(max-width:768px){
	nav{
		display:none;
	}
.form__row{
	margin: 0 -10px ;
	flex-direction: column;
}

}
@media(max-width:560px){

	.header__logo{
		height: 45px;
	}
	.survices__content{
		height: 300px;
	}
	.proces__title{
		font-size: 72px;

	}
	.proces__subtitle{
		font-size: 25px;
	}
	.footer_wrapper{
height: auto;
padding: 30px 0;
flex-direction: column;
}
.copyright{
	margin-bottom: 20px;
}
.info__title{
	font-size: 24px;
}
}
@media(max-width:460px){
	.info__title{
		font-size: 26px;
	}
.block__title{
font-size: 24px;
}
.proces__title{
	font-size: 40px;
}
.proces__subtitle{
	font-size: 18px;
}
.copyright{
	text-align: center;
}




}
@media(max-width:768px){

}